<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.ReplyMapper">

	<insert id="replyInsert">
	
		INSERT INTO REPLY (REP_NUM, MEM_ID, BOA_NUM, REP_CONTENT, REP_DATE_REG)
		VALUES (SEQ_REP_NUM.NEXTVAL, #{mem_id}, #{boa_num}, #{rep_content}, SYSDATE)
	
	</insert>
	
	<select id="replyList" resultType="com.demo.domain.ReplyListVO">
	
		SELECT RN, REP_NUM, MEM_ID, MEM_NAME, BOA_NUM, REP_CONTENT, REP_DATE_REG
		FROM (SELECT RN, REP_NUM, MEM_ID, MEM_NAME, BOA_NUM, REP_CONTENT, REP_DATE_REG
		      FROM (SELECT /*+ INDEX_DESC(REPLY PK_REP_NUM) */
		                   ROWNUM RN, R.REP_NUM, R.MEM_ID, M.MEM_NAME, R.BOA_NUM, R.REP_CONTENT, R.REP_DATE_REG
		            FROM REPLY R
		            LEFT JOIN MEMBER M
		            ON R.MEM_ID = M.MEM_ID
		            WHERE R.BOA_NUM = #{boa_num}
		            ORDER BY ROWNUM DESC))
	
	</select>
	
	<!-- 검색조건 쿼리. [제목 or 작성자]선택.  value="TW" -->
	<!-- typeArr: 파라미터타입의 Criteria클래스의 메서드를 가리킴. 검색종류(타입)의 값을 참조하게 됨. [제목 or 작성자]선택.  value="TW"  -->
	<sql id="maincriteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							boa_title like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							boa_content like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="cri.typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							boa_title like '%' || #{cri.keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							boa_content like '%' || #{cri.keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	
	<select id="select" parameterType="com.demo.dto.Criteria" resultType="com.demo.domain.ReplyVO">
		
		<![CDATA[
		SELECT RN, BOA_NUM, BOA_NUM, REPLY
		FROM(	
				SELECT /*+ INDEX_DESC(BOARD PK_BOA_NUM)*/ ROWNUM RN, BOA_NUM, REPLY
				FROM (
				        SELECT B.BOA_NUM, R.REPLY, B.CAT_P
				        FROM (SELECT BOA_NUM, COUNT(REP_CONTENT) AS REPLY
				              FROM REPLY
				              GROUP BY BOA_NUM) R
				        RIGHT JOIN BOARD B
				        ON B.BOA_NUM = R.BOA_NUM
				        LEFT JOIN MEMBER M
                 		ON B.MEM_ID = M.MEM_ID
				        ORDER BY B.BOA_NUM DESC
				     )
				WHERE
		]]>
		<include refid="maincriteria"></include>
		<![CDATA[ 
		   
		        ROWNUM <= #{pageNum} * #{amount}
			)
		WHERE RN > (#{pageNum}-1) * #{amount}
		]]>
	
	</select>

	
	<select id="subselect" parameterType="com.demo.dto.Criteria" resultType="com.demo.domain.ReplyVO">
		
		<![CDATA[
		SELECT RN, BOA_NUM, BOA_NUM, REPLY
		FROM(	
				SELECT /*+ INDEX_DESC(BOARD PK_BOA_NUM)*/ ROWNUM RN, BOA_NUM, REPLY
				FROM (
				        SELECT B.BOA_NUM, R.REPLY, B.CAT_P
				        FROM (SELECT BOA_NUM, COUNT(REP_CONTENT) AS REPLY
				              FROM REPLY
				              GROUP BY BOA_NUM) R
				        RIGHT JOIN BOARD B
				        ON B.BOA_NUM = R.BOA_NUM
				        LEFT JOIN MEMBER M
                 		ON B.MEM_ID = M.MEM_ID
				        ORDER BY B.BOA_NUM DESC
				     )
				WHERE CAT_P = #{cat_c} AND
		]]>
		<include refid="criteria"></include>
		<![CDATA[ 
		   
		        ROWNUM <= #{cri.pageNum} * #{cri.amount}
			)
		WHERE RN > (#{cri.pageNum}-1) * #{cri.amount}
		]]>
	
	</select>

</mapper>