<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.UserBoardMapper">

	<select id="getCategoryList" resultType="com.demo.domain.CategoryVO">
	
		SELECT CAT_C, CAT_NAME, CAT_P
		FROM CATEGORY
		WHERE CAT_P IS NULL
	
	</select>

	<select id="getmainBoard" resultType="com.demo.domain.BoardVO">
	
		SELECT BOA_NUM, CAT_C, CAT_NAME, CAT_NAME_C, CAT_P, BOA_TITLE, BOA_
		FROM BOARD
		WHERE CAT_P = #{cat_c}
	
	</select>


</mapper>
